.container {
    height: 25px;
    background-color: #CCC;
    position: relative;
}
.container .progress-bar{
   position: absolute;
   height: 100%;
   background-color: #0fd439;
   animation: progress-animation 5s infinite;
}
@keyframes progress-animation{
    0% { width: 0%; } 
    100% { width: 100%}
}